click
configparser>=3.5.0
coverage
cryptography>=1.8.0
detox
dpath>=1.4.0
fortifyapi>=1.0.11
GitPython
httplib2
mock
ndg-httpsclient
pyasn1
pyOpenSSL
pytest-runner
requests
testfixtures
tox
validators
webinspectapi>=1.0.24
