asn1crypto
certifi
cffi
chardet
click
configparser>=3.5.0
cryptography>=1.8.0
decorator
detox
dpath>=1.4.0
enum-compat
enum34
eventlet
fortifyapi>=1.0.7
funcsigs
gitdb2
GitPython
greenlet
httplib2
idna
ipaddress
mock
ndg-httpsclient
pbr
pip
pluggy
py
pyasn1
pycparser
pyfiglet
pyOpenSSL
pytest-runner
requests
six
smmap2
testfixtures
tox
urllib3
validators
virtualenv
webinspectapi>=1.0.19
